@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 #body-background{
  background:  url("./background.png")no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
p{
  margin: 0px;
}
#middle-banner{
  color: black;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  position: relative;
  top: 20vh;
  left: 22vw;
  width: 60vw;
} 

#product-text{
  color: blue;

}

#logo{
  margin-top: 2vh;
  height: 10vh;
  width:auto;
}

#id-input{
  width: 40vw;
  height: 4vh;
  border: none;
  border-color: transparent;
  border-bottom:2px solid black ;
  background: transparent;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

::placeholder { 
  color: black;
  opacity: 0.4; 
  font-size: 1.5rem;
}

#verify-button{
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  font-family: 'Alfa Slab One', cursive;
  background-color: white;
  border-radius: 10px;
  margin-left: 2vw;
  
}

#verify-button:hover{
  cursor: pointer;
}


.verification-green{
  margin:0px;
  color: #61f200;
  display: inline-block;
}

.tick-image{
  height: auto;
  width: 5vw;
  display: inline-block;
  top:15px;
  position: relative;
}

.verification-red{
  margin:0px;
  color: #ff5440;
  display: inline-block;
}

.cross-image{
  height: auto;
  width: 4vw;
  display: inline-block;
  top:15px;
  position: relative;
}



#detail-button{
  margin:0px;
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  font-family: 'Alfa Slab One', cursive;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  
}

.product-image{
  height: auto;
  width: 20vw;
  margin: 40px;
  padding: 10px;
    border: 1px solid greenyellow;
    box-shadow:  -1px 1px greenyellow,
         -2px 2px greenyellow,
         -3px 3px greenyellow,
         -4px 4px greenyellow,
         -5px 5px greenyellow;
  /* display: inline-block; */
}
#image-block{
  display: inline-block;

}

.product-name{
  display: inline-block;
  position: relative;
  top: -30vh;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5vh;
  left: -22vw;
}

.owner-address{
  display: inline-block;
  position: relative;
  top: -25vh;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3vh;
  left: 27vw;

}

.verification-green-product{
  margin:0px;
  color: #61f200;
  display: inline-block;
  font-size: 4vw;
  display: inline-block;
  position: relative;
  top: -40vh;
  font-family: 'Alfa Slab One', cursive;
}

.tick-image-product{
  height: auto;
  width: 5vw;
  display: inline-block;
  top:-39vh;
  position: relative;
  
}

#transfer-button{
  margin:0px;
  text-decoration: none;
  height: 5vh;
  width: 15vw;
  font-family: 'Alfa Slab One', cursive;
  background-color: white;
  border-radius: 10px;
  /* display: inline-block; */
  position: relative;
  top: -7vh;
  left: 47vw;

}
#transfer-button:hover{
  cursor: pointer;
}

#recipient-address{
  width: 40vw;
  height: 4vh;
  border: none;
  border-color: transparent;
  border-bottom:2px solid black ;
  background: transparent;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  position: relative;

  left: -45vw;
  
}

