@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 #body-background{
  background: url("/public/background.png") no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
p{
  margin: 0px;
}
#middle-banner{
  color: black;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  position: relative;
  top: 30vh;
  left: 22vw;
  width: 60vw;
} 

