@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 #body-background{
  background:  url("./background.png")no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
p{
  margin: 0px;
}
#middle-banner{
  color: black;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  position: relative;
  top: 20vh;
  left: 22vw;
  width: 60vw;
} 

#product-text{
  color: blue;

}

#logo{
  margin-top: 2vh;
  height: 10vh;
  width:auto;
}

#id-input{
  width: 40vw;
  height: 4vh;
  border: none;
  border-color: transparent;
  border-bottom:2px solid black ;
  background: transparent;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

::placeholder { 
  color: black;
  opacity: 0.4; 
  font-size: 1.5rem;
}

#verify-button{
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  font-family: 'Alfa Slab One', cursive;
  background-color: white;
  border-radius: 10px;
  margin-left: 2vw;
  
}

#verify-button:hover{
  cursor: pointer;
}


#verification-green{
  margin:0px;
  color: #61f200;
  display: inline-block;
}

#tick-image{
  height: auto;
  width: 5vw;
  display: inline-block;
  top:15px;
  position: relative;
}

#verification-red{
  margin:0px;
  color: #ff5440;
  display: inline-block;
}

#cross-image{
  height: auto;
  width: 4vw;
  display: inline-block;
  top:15px;
  position: relative;
}



#detail-button{
  margin:0px;
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  font-family: 'Alfa Slab One', cursive;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  
}


